/MOOC pt.1/mooc-java-programming-i/mooc-java-programming-i/part03-Part03_11.IndexOfSmallest/target/
/MOOC pt.1/mooc-java-programming-i/mooc-java-programming-i/part03-Part03_04.ListSize/target/
/MOOC pt.1/mooc-java-programming-i/mooc-java-programming-i/part03-Part03_20.SumOfArray/target/
/MOOC pt.1/mooc-java-programming-i/mooc-java-programming-i/part03-Part03_21.PrintNeatly/target/
/MOOC pt.1/mooc-java-programming-i/mooc-java-programming-i/part03-Part03_22.PrintInStars/target/
/MOOC pt.1/mooc-java-programming-i/mooc-java-programming-i/part03-Part03_23.PrintThrice/target/
/MOOC pt.1/mooc-java-programming-i/mooc-java-programming-i/part03-Part03_26.LineByLine/target/
/MOOC pt.1/mooc-java-programming-i/mooc-java-programming-i/part03-Part03_27.AVClub/target/
/MOOC pt.1/mooc-java-programming-i/mooc-java-programming-i/part03-Part03_32.PersonalDetails/target/
